{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="inscription-box">
        <div class="left"></div>
        <div class="right">
            <h2>Inscription</h2>
            {{ include('backend_participant/_form.html.twig') }}
            <!--<div class="d-block d-md-none mt-5">
                <img src="{{ asset('assets/img/affiche.jpg') }}" alt="" class="img-fluid">
            </div>-->
        </div>
    </div>
{% endblock %}
