{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="inscription-box">
        <div class="left"></div>
        <div class="right">
            <h2>Inscription</h2>
            {{ include('backend_participant/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
