{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="inscription-box">
        <div class="left"></div>
        <div class="right">
            <h2>Inscription</h2>
            <input type="text" class="field" placeholder="Nom de famille">
            <input type="text" class="field" placeholder="Prenoms">
            <input type="text" class="field" placeholder="Telephone">
            <input type="text" class="field" placeholder="Club">
            <input type="text" class="field" placeholder="Fonction">
            <button class="btn">Envoyer</button>
        </div>
    </div>
{% endblock %}
